:root {
  --primary-color: #ffe5e8a4;
  --secondary-color: #ffa393f9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 60px;
}

h2,
p {
  font-size: 22px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 0 15px 0;
}

.computer-picture {
  max-width: 450px;
}

.greeting {
  padding: 80px 0 80px 80px;
}

.hero-picture {
  padding: 30px 0 0 0;
}

.btn {
  background: var(--secondary-color);
  color: #f7f7f7;
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
}

.btn:hover {
  color: black;
  background: var(--primary-color);
}

.carousel {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.border {
  border-radius: 4px;
  color: var(--primary-color);
}

.navbar-custom {
  background: white;
}

nav li a:hover {
  color: var(--secondary-color) !important;
}

.projects-button {
  margin: 0 auto;
  text-align: center;
}

.headshot {
  max-width: 250px;
  border-radius: 10%;
  margin: 80px;
  padding-top: 10px;
}

.about-section {
  padding: 15px 0;
}

.content {
  padding: 0 70px 0 20px;
}

.about-section p {
  font-size: 16px;
}

.about-header {
  padding-top: 80px;
}

.work-header {
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
}

.work-image {
  max-width: 400px;
}

.work-content {
  padding-top: 50px;
}

.work-content h2 {
  font-size: 35px;
}

.work-content p {
  font-size: 20px;
}

.weather-project-content {
  padding-bottom: 50px;
}

.contact-link {
  text-decoration: none;
  font-style: italic;
  color: #6d757d;
}

.contact-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.contact-header {
  padding-top: 80px;
}

footer .social-links {
  background: var(--primary-color);
  padding: 15px;
  border-radius: 50px;
  margin: 0 auto;
}

footer .social-links a {
  margin: 0 30px;
  color: #6d757d;
  background: white;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
}

@media (max-width: 600px) {
  .hero {
    padding: 0;
  }

  .greeting {
    padding-left: 0;
  }

  h1 {
    font-size: 60px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .content {
    padding-left: 50px;
    text-align: center;
  }

  .headshot {
    margin: 0;
    margin-top: 30px;
  }

  .about-header {
    font-size: 50px;
  }

  .contact-header {
    font-size: 50px;
  }

  .work-header {
    padding-top: 150px;
  }
}

@media (max-width: 912px) {
  .work-content {
    text-align: center;
  }

  .work-content h2 {
    font-size: 30px;
  }

  .work-header {
    font-size: 40px;
  }
}
