:root {
  --primary-color: #fff0f2;
  --secondary-color: #ffa8bf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 90px;
}

h2,
p {
  font-size: 25px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 0;
}

.contact-me-button {
  background: var(--secondary-color);
  color: #f7f7f7;
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 20px;
}
